<div class="aside">
  <div class="flex-between">
    <a class="profile profile--hover-ul" href="#">
      <img src="../../assets/stock_profile.jpg">
      <span>Username1</span>
    </a>
  </div>
</div>
