<li class="flex-col">
    <!--USER COMMENT HEADER-->
    <div class="flex-between">
        <a class="profile profile--hover-ul" href="#">
            <img src="../../../../assets/stock_profile.jpg">
            <span>{{ $ctrl.comment.username }}</span>
        </a>
        <span class="timestamp text-sm">{{ $ctrl.datestr }}</span>
    </div>
    <!--USER COMMENT CONTENT-->
    <p class="text-md margin-8-top">{{ $ctrl.comment.content }}</p>
</li>
