<header class="page-header">
    <!--navbar block-->
    <div class="navbar">
        <a class="logo" href="https://www.facebook.com"></a>
        <ul class="nav-h">
            <li>
                <a class="btn profile profile--hover-bg" onClick="showModal('username')">
                    <img src="../../assets/profile.jpg">
                    <span>Username</span>
                </a>
            </li>
            <li>
                <a class="btn" href="#" id="logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</header>
