<div class="post">
    <!--USER POST HEADER-->
    <div class="post__header flex-between margin-16">
        <a class="profile profile--lg profile--hover-ul" href="#">
            <img src="../../../assets/stock_profile.jpg">
            <span>{{ $ctrl.post.username }}</span>
        </a>
        <span class="timestamp">{{ $ctrl.datestr  }}</span>
    </div>
    <!--USER POST CONTENT-->
    <div class="text-md margin-16">
        {{ $ctrl.post.content }}
    </div>
    <!--USER POST FOOTER-->
    <div class="flex-between margin-16">
        <div class="flex">
            <a ng-class="['btn-icon', { 'btn--active': $ctrl.liked, 'btn--hover-red': !$ctrl.liked }, 'btn-like']" ng-click="$ctrl.clickLike()"><i class="fa fa-heart fa-lg"></i></a>
            <span class="span-like">{{ $ctrl.post.likes }}</span>
        </div>
        <div class="flex">
            <a class="btn-icon comment-count"><i class="fa fa-comments-o fa-lg"></i></a>
            <span>{{ $ctrl.post.replies.length }}</span>
        </div>
    </div>
    <!--USER POST COMMENTS-->
    <ul class="margin-16 top-divider">
        <div class="comments">
          <comment ng-repeat='comment in $ctrl.post.replies' comment='comment'></comment>


        </div>
        <!-- POST INPUT COMPONENT-->
        <div class="p-input">
            <input contentEditable="true" class="p-input__ta" placeholder="Add a comment..." type="text" ng-model="$ctrl.comment_input"></input>
            <a class="btn btn-primary f-right margin-8-v" ng-click="$ctrl.submitComment()">POST</a>
        </div>
    </ul>
</div>
